.products {
  max-width: 1200px;
  margin: 0 auto;
}

.products-content {
  background-color: white;
  margin-top: 1rem;
  border-radius: 6px;
}

.product-divider {
  border-bottom: 1.5px solid #ebebeb;
  margin: 0 1rem;
}

.breadcrumb-item {
  font-size: 0.8rem;
  color: #5f5d5d;
  margin-top: 1rem;
}