.buy-box {
  color: #333;

  &__title {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 700;
  }

  &__price {
    font-size: 2rem;
    margin-top: 1rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__button {
    background-color: #3483fa;
    width: 100%;
    color: white;
    padding: .8rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #2e6abf;
    }
  }
}