.product-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.product-detail-content {
  background-color: white;
  margin-top: 1rem;
  padding: 3rem;
}

.product-detail-head {
  display: grid;
  grid-template-columns: 3fr 1fr;

  > img {
    width: 70%;
  }
}

.product-detail-description {
  margin-top: 3rem;

  &___title {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: rgba(0,0,0,.9);
    font-weight: 400;
  }

  &__text {
    color: #666;
    width: 70%;
  }
  
}

.breadcrumb-item {
  font-size: 0.8rem;
  color: #5f5d5d;
  margin-top: 1rem;
}